body {
    background-color: rgb(233, 233, 233);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

.logo {
    width: 500px;
    margin-bottom: 12px;
}

.input {
    margin-bottom: 12px;
    width: 600px;
    line-height: 32px;
    padding: 4px 16px;
    border-radius: 20px;
    border: 1px solid grey;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn , .btn2 {
    margin: 12px;
    padding: 8px 16px;
    border: none;
    background-color: rgb(174, 174, 174); 
    color: rgb(33, 33, 33);  
    font-size: 20px;
}