/* color palette
Sunlit Clay #f7b267 
Tangerine Dream #f79d65
Coral Glow #f4845f
Vibrant Coral #f27059
Vibrant Coral #f25c54
*/

body {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 1.2rem;
}

header {
    padding: 0;
    margin: 0;
    background-image: url("https://vinhedoscuiaba.com.br/blog/wp-content/uploads/2023/07/imagem_capa-1-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 8px;
    background-color: #f7b267;
    border-radius: 8px;
}

header h2 {
     padding: 8px;
    background-color: #f7b267;
    border-radius: 8px;
}

main {
    height: 100vh;
    background-color: #f25c54;
}

main h1 {
    margin: 0;
    padding-top: 40px;
}

.cards {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 200px;
    height: 400px;
    transition: ease-in 0.2s;
}

.card:hover {
    transform: scale(1.8);
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
}

.cartao {
    width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: #f4845f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid orange;
}

footer {
    height: 100vh;
    display: flex;
    align-items: center;
}

#avatar {
    width: 50%;
    
}

.text {
    width: 50%;
    padding: 8px;
}

.text p {
    text-align: start;
}

