html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 495px;
    height: 335px;
    padding: 115px 55px;
    background-color: #1F2937;
}

.upper {
    height: 240px;
    border-bottom: 1px solid #2F3E53;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lower {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.password {
    width: 212px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    background-color: #273549;
    color: #55F991;
    text-align: center;
    
}

h1 {
    font-size: 40px;
    font-family: "Karla";
    font-weight: bold;
}

span {
    color: #10B981;
}

p {
    font-family: "Inter";
}

button {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #10B981;
    color: white;
    justify-self: end;
    transition: ease 0.1s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1.02);
    background-color: #0ea170;
}

#slogan {
    color: #D5D4D8;
    font-size: 20px;
}
