body {
    background-image: url(office.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover
}

.card {
    width: 800px;
    height: 400px;
    border: 4px solid rgb(176, 176, 176);
    margin: 0 auto;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(59, 37, 17);
    background-color: #d2d2d2;
    background-image: url(paper\ texture.png);
    background-blend-mode: multiply;
    text-align: center;
    line-height: 12px;
}

span {
    font-size: 0.55em;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 60px 0 60px;
}

.main {
    margin: 90px;
}

.footer {
    line-height: 24px;
}
