@font-face {
    font-family: Copperplate;
    src: url(Copperplate-Gothic-Std-29-AB.ttf);
}

body {
    background-image: url(office.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 800px;
    height: 400px;
    border: 4px solid rgb(176, 176, 176);
    font-family: Copperplate;
    color: rgb(54, 27, 2);
    background-color: #d2d2d2;
    background-image: url(paper\ texture.png);
    background-blend-mode: multiply;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    line-height: 12px;
}

#span1 {
    font-size: 24px;
}

#span2 {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 60px 0 60px;
}

.main {
    margin: 90px;
}

.footer {
    line-height: 24px;
}
