body {
    text-align: center;
    background-image: url("/scrimba/blackjack/kvnga-vBWsG91aR_U-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: darkgoldenrod;
    text-shadow: 0 0 1px black;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Federo", sans-serif;
}

h1 {
    font-family: "Monoton", sans-serif;
}

.game-container {
    background-image: url("/scrimba/blackjack/10081437.jpg");
    width: 600px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid darkgoldenrod;
    border-radius: 12px;
}

.btn {
    width: 120px;
    height: 40px;
    border: 1px solid #f0f8ff;
    border-radius: 4px;
    color: #f0f8ff;
    background-color: firebrick;
    margin: 8px;
    transition: ease-in 0.1s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    background-color: rgb(139, 26, 26);
}

/* #startgame-btn {

}

#newcard-btn {

} */