body {
    background-color: purple;
}

.card {
    margin: 0 auto;
    text-align: center; 
    text-shadow: 0 0 2px black;
    width: 600px;
    border: 4px dotted blue;
    background: linear-gradient(to bottom right, lightblue, pink);
    color: white;
    font-family: "Happy Monkey";
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 200px;
    border: 8px solid orange;
    border-radius: 50%;
    background-color: greenyellow;
}

#nome, #data {
    background-color: orange;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
}

.gift-img {
    margin: 40px auto;
    width: 400px;
    height: 400px;
    border: 8px solid white;
    border-radius: 4px;
    background-image: url("gift-wrap.png");
    background-size: cover;
    transition: ease-in 1s;
}

.gift-img:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExczRhcGN0dnBnY2s5Mjdia2Z0OTdiMHo3N2Yycm0wc2s5dW8yOXcwZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6EDGSznQA5kVCa0DfD/giphy.gif");
    background-position: center;
    background-size: cover;
}