/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* main elements  */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #ededed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 8px;
    border-bottom: 1px solid #c6c6c6;
    background-color: #fff;
}

.container {
    width: 375px;
    margin: 0 auto;
}

.post-container {
    height: 545px;
    overflow: scroll;
    background-color: #fff;
}

.user-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.comment-container {
    display: flex;
    margin: 5px;
}

/* style */

.logo {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-img {
    width: 375px;
}

.bold {
    font-weight: 700;
}


.post-avatar {
    margin-right: 7px;
}


.username {
    margin-right: 5px;
}

.icon {
    margin: 5px;
    width: 25px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.icon:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in;
}

.likes {
    margin: 5px;
}